<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Hi Dutchie practice this shit!</h3>
<tr th:each="onregelmatig : ${onregelmatigs}">
    <td th:text="${onregelmatig.infinitief}"/>
    <td th:text="${onregelmatig.imperfectum}"/>
    <td th:text="${onregelmatig.perfectum}"/>
    <td th:text="${onregelmatig.meaning}"/><br/>
</tr>
<form action="#" th:action="@{/view}" method="get">
    <p><input type="submit" value="Try Now" /></p>
</form>
</body>
</html>